*,
*::after,
*::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b0470f4a-edba-48c5-a33e-f4a6d9360d8a/d5l5h04-2d9c803c-3e47-468a-8d01-c183bb450c4d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2IwNDcwZjRhLWVkYmEtNDhjNS1hMzNlLWY0YTZkOTM2MGQ4YVwvZDVsNWgwNC0yZDljODAzYy0zZTQ3LTQ2OGEtOGQwMS1jMTgzYmI0NTBjNGQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.pdvt-1gIZMu_I29Q_eVmjvr9qaFdf_s7CA51WgVPrCw);
  background-position-x: center;
  background-size: 250%;
}

nav,
footer {
  background-image: url(https://images.rawpixel.com/image_social_landscape/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMjJiYXRjaDUta3VsLTM2XzEuanBn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#creation-form {
  font-size: 20px;
  font-weight: 700;
}

#titolo1 {
  font-weight: 400;
  font-family: "Inter", serif;
}

#titolo2 {
  font-weight: 500;
  font-family: "Inter", serif;
}

#titolo3 {
  font-weight: 200;
  font-family: "Pokemon Solid", sans-serif;
}

#titolo3 a {
  text-decoration: none;
  color: inherit;
}

#titolo3 a:hover {
  text-decoration: underline;
  color: rgb(172, 3, 3);
}

#dettagli p {
  font-size: 20px;
}

#dettagli h5 {
  font-size: 30px;
}

/* .scrolled {
  background-color: rgb(255, 255, 255) !important;
  transition: background-color 0.5s ease !important;
}
 
Quest'ultima non funziona

*/

#fotoPokè {
  cursor: pointer;
}

#genitoreFoto:hover {
  background: linear-gradient(45deg, hsla(168, 85%, 52%, 0.5), hsla(263, 88%, 45%, 0.5) 100%);
}

#dettagli:hover {
  background: linear-gradient(45deg, hsla(168, 85%, 52%, 0.5), hsla(263, 88%, 45%, 0.5) 100%);
  cursor: pointer;
}
